<form [formGroup]="form" novalidate autocomplete="off" (submit)="onSubmit(form.value)">
  <div class="form-group">
    <label for="donor-name">Donor Name</label>
    <input formControlName="donorName" type="text" id="donor-name" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="vote-count"># of Votes</label>
    <input formControlName="voteCount" type="text" id="vote-count" placeholder="3">
  </div>
  <div class="row flex-items-xs-right">
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
    </div>
</form>
