<div class="application-container">
  <div #counter class="counter text-center">00d00h00m00s</div>
  <div class="text-center counter-text">remaining to<a
    href="https://app.mobilecause.com/vf/Funds4Food/CapTechConsulting" target="_blank"
    class="btn btn-outline-primary" style="display: inline-block; max-font-size: 60pt;">donate</a>
  </div>
</div>
<div class="highlight-block container-fluid text-center">

  <h3>Why donate?</h3>
  <p>Did you know that 18.3% of the Second Harvest service area population, <b>over 527,000 people, live in poverty</b>?
    This includes over <b>188,000 children</b> and almost <b>41,000 seniors</b>!  
    <br><b>Every dollar we share will multiply to provide
    four meals for people in need. </b>

    <br><br>We are partnering with the <a href="https://www.secondharvestmetrolina.org/"
                                                                 target="_blank">Second Harvest Food Bank of Metrolina</a>.</p>
  <p>Second Harvest is a non-profit organization that is the area’s largest distributor of food to over 700 care agencies.
    These agencies include soup kitchens like Urban Ministries, emergency pantries like Loaves and Fishes, homeless shelters
    like Uptown Men’s Shelter and Center of Hope, senior programs, and low-income daycares.
    Second Harvest operates a warehouse and a fleet of refrigerated trucks to distribute food
    throughout a 19 county region surrounding Charlotte.</p>
</div>
